*.pyc
*.pyo
*.pyd
__pycache__/


.env
*.env


db.sqlite3  
/media/    
/staticfiles/ 


venv/
env/
virtualenv/
ENV/
.venv


*.log
*.bak
*.sql


.vscode/


.DS_Store


node_modules/


*/migrations/*


htmlcov/
.coverage
